/* Group Selectors

1: (*)      ==> Tüm etiketler
2: (p)      ==> Tüm p etiketleri
3: (div p)  ==> div içindeki tüm p etiketleri
4: (div,p)  ==> Tüm div ve tüm p etiketleri
5: (div > p) ==> Üst etiketi div olan tüm p etiketi
6: (p~div)  ==> p ile aynı seviyede olan tüm div etiketleri
7: (p+div) ==> p etiketlerinden sonra gelen ilk div etiketi

/*
* {
  border: 1px solid red;  Sayfada ki bütün etiketlere uygulanır.
}
*/
/*
p{
  border: 1px solid red; Sadece p etiketlerine uygulanır.
}
*/
/*
div p{
  border: 1px solid red;  div etiketi altındaki p etiketlerine uygulanır.
}
*/
/*
.container div {
  border: 1px solid red;   container classı altındaki divleri seçer.
}
*/
/*
.container div.box{
  border: 1px solid red;   container classı altındaki divlerin altındaki box classlarına uygular.
}
*/
/*
div,p {
  border: 1px solid red;   Sayfadaki bütün div ve p etiketlerine uygular.
}
*/
/*
div.box,p{
  border: 1px solid red;   Bütün p etiketlerini ve div etiketi altındaki bütün box classlarına uygular.
}
*/
/*
div>p{
  border: 1px solid red;  Bir üst etiketi div olan bütün p etiketlerine uygular.
}
*/
/*
p~div{
  border: 1px solid red;  p etiketinden sonra gelen ve p etiketiyle aynı seviyede olan bütün div etiketlerine uygular.
}
*/
/*
p+div{
  border: 1px solid red;    p etiketlerinden sonra gelen ilk div etiketine uygular.
}
*/
