#container{
  width: 1140px;
}
#blog-post-container{
  width: 75%;
  float: left;
}
#other-posts{
  width: 25%;
  float: left;
  position: fixed;
  top: 30px;
  right: 0px;
}
#author-box{
}
.date{
  position: absolute;
  top: 0px;
  right: 40px;
}
.blog-post{
  position: relative;
}
.tags{
  margin: 0;
  padding: 0;
}
.tags li{
  list-style: none;
  /*display: inline-block;*/
  display: inline;
  margin-right: 5px;
}
.tags li a{
  text-decoration: none;
}
