#container{
  width: 1140px;
  background-color: aquamarine;
}
#blog-post-container{
  width: 75%;
  background-color: bisque;
}
#other-posts{
  width: 25%;
  background-color: purple;
}
#author-box{
  border: 1px solid black;
}
