p[title]{
  border: 1px solid gray; padding: 10px;
  /* p etiketi altındaki bütün title attributelarını seçer. */
}

p[title="third paragraph"]{
  background-color: gold;
  /* p etiketi altındaki title attributelarından third paragraphı seçer. */
}

p[title~="forth"]{
  background-color: darkblue;
  /* İçinde forth geçen bütün p altındaki title attributalarını seçer. */
}

a[href^="https"]{
  color: green;
  /* a etiketi altındaki href attributelarından https ile başlayanları seçer. */
}

a[href$="com"]{
  color: aqua;
  /* a etiketi altındaki href attributelarından com ile bitenleri seçer. */
}

a[href="https://example.net"][target="_blank"]{
  color:lightgreen;
  /* Sadece ilgili etiketler altındaki attributeları seçer. */
}

input[type="text"]{
  display: block;
  width: 150px;
  background-color: orange;
  /* input etiketi altında type text olanları seçer. */
}

input[type="button"]{
  background: #4CAF50;
  color:#FFFFFF;
  padding: 8px 16px;
  /* input etiketi altında type button olanları seçer. */
}
