
  a{
    color:blue;
    text-decoration: none;
  }
  li{
    display: inline;
  }
  h1{
    background color: chartreuse;
  }

  /* internal Css ve inline Css external Css'e baskındır.*/
